<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/51053c82-1e27-4803-b2d1-a60a69b097d4/resourceGroups/footprint2001/providers/Microsoft.Web/sites/footprint2001</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://footprint2001.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>footprint2001.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>footprint2001</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$footprint2001</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>